<div class="events-list">
  <h2>Traffic Events</h2>
  <label for="categoryFilter">Filter by Category:</label>
  <select id="categoryFilter" [(ngModel)]="selectedCategory" (change)="filterEvents()">
    <option value="">All</option>
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>
  
  
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Session Id</th>
        <th>Time</th>
        <th>Number</th>
        <th>Category</th>
        <th>Lane Id</th>
        <th>Other</th>
        <th>Value</th>
        <th>Direction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trafficEvent of filteredTrafficEvents">
        <td>{{ trafficEvent.id }}</td>
        <td>{{ trafficEvent.sessionID }}</td>
        <td>{{ trafficEvent.time }}</td>
        <td>{{ trafficEvent.number }}</td>
        <td>{{ trafficEvent.category }}</td>
        <td>{{ trafficEvent.laneId }}</td>
        <td>{{ trafficEvent.other }}</td>
        <td>{{ trafficEvent.value }}</td>
        <td>{{ trafficEvent.direction }}</td>
      </tr>
    </tbody>
  </table>
</div>
